<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flightify Application</title>
    <style>
        .api-title {
            height: 100%;
            margin-top: 40vh;
            margin-bottom: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="api-title">
        <h1> Welcome to FlightifyAPI </h1>
        <p> 
            <a href="https://github.com/sasili-adetunji/flightify/tree/develop#features-of-fightify" target="_blank"> Click here to view the available endpoints </a> <br /> 
         </p>
    </div>
</body>
